<!doctype html>
<html ng-app="youtube-collections-revamp">
<head>
	<title>Youtube Playground</title>
	<link href="css/popup.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="MainCtrl">

    <!--OVERLAY MESSAGES SECTION-->
    <div id="overlay" ng-if="getExtensionState()===null||getExtensionState()==='undefined'">
        <div>
            <p>Welcome to Youtube Collections Revamp! This extension will look for your youtube id. Re-open the popup window after the YouTube page is finished loading.</p>
            <button ng-click="fetchYoutubeChannelId()">Ok, got it.</button>
        </div>
    </div>


    <div id="overlay" ng-if="getExtensionState()==='FETCHING_YOUTUBE_CHANNEL_ID'">
        <div>
            <p>Almost done fetching your channel id! Close and re-open this popup window.</p>
        </div>
    </div>


    <div id="overlay" ng-if="getExtensionState()==='CHANNEL_ID_FOUND'">
        <div>
            <p>Your channel id was successfully found. This extension will now start fetching all your subscription videos.</p>
            <button ng-click="fetchYoutubeSubscriptions()">Do it!</button>
        </div>
    </div>

    
    <div id="overlay" ng-if="getExtensionState()==='FETCHING_SUBSCRIPTIONS'">
        <div>
            <p>{{displayMessage}}</p>
        </div>
    </div>
    <!--END OVERLAY MESSAGES SECTION-->





    <!--TASK BAR SECTION-->
    <div class="taskbar" id="taskbar1">
        <button ng-click="restartInitialization()">Restart</button>
        
    </div>
    <div class="taskbar" id="taskbar2">
        <input type="text" value="{{newCollectionName}}" />
        <button ng-click="createNewCollection()">Add</button>
        <select class="collectionsDropdown">
            <option ng-repeat="item in collectionsList" ng-bind="item" class="collectionsDropdownItem"></option>
        </select>
    </div>
    <!--END TASK BAR SECTION-->




    <!--CHANNELS SECTION-->
    <div class='wrapper'>
        <div class='container'>
            <div ng-repeat="channel in suscribedChannelsList" ng-bind="channel.title"></div>
        </div>
        <div class='container'>
            <div ng-repeat="channel in collectionChannelsList" ng-bind="channel.title"></div>
        </div>
    </div>
    <!--END CHANNELS SECTION-->



    <script src="js/constants.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.signalR-2.2.0.js"></script>
    <script src="js/angular1.4.7.js"></script>
    <script src="js/popup.js"></script>
    <script src="js/popup-signalr.js"></script>
    <script src="js/popup-messenger.js"></script>
</body>
</html>

